<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="html.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="flex">
      {{>header}}
      <h5>

      {{error}}
      </h5>

    </div>
    {{>footer}}
    
</body>
</html>