<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="html.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="flex">

    {{>header}}
    <p>This is a weather app which uses Two Apis first is weatherstack.com and mapbox.com<p>
    <img class="creater" src="/img/WhatsApp Image 2020-06-22 at 6.50.29 PM.jpeg" alt="img not found">
    
    </div>

    {{>footer}}
</body>
</html>